if site.data.widget && site.data.widget.bottom
  each item in site.data.widget.bottom
    .card-widget(class=item.class_name id=item.id_name style=item.order ? `order: ${item.order}` : '')
      .item-headline
        i(class=item.icon)
        span=item.name
      .item-content
        !=item.html

